.idea/
plot/
log/
flowers/
ressource.ipynb
*.gz
*.log
*.aux
*Review*.pdf
data/
ressource.ipynb
*.bat
*.docx
saved_models/
batchlog_*.txt
proposal.zip
flowers.zip
capstone-project/flowers_recognition_001.zip
capstone-project/flowers_recognition_002.zip
flowers_recognition_002.zip
